.container {
    min-height: 200px;
    height: 100%;
    max-width: 350px;
    width: 100%;

    border: 2px solid #000;
    padding: 1rem;

    .title {
        display: flex;
        align-items: center;

        font-size: 1rem;
        font-weight: bold;

        gap: .3rem;
    }

    .drop {
        display: flex;
        flex-direction: column;

        .trade {
            width: 100px;

            background-color: #000;
            color: #FFF;

            border: none;
            padding: 4px 8px;
            margin: 10px 0 25px 0;
        }
    }
}