.container {
    min-height: 220px;
    height: 100%;
    max-width: 350px;
    width: 100%;

    border: 2px solid #000;
    padding: 1rem;

    .title {
        display: flex;
        align-items: center;

        font-size: 1rem;
        font-weight: bold;

        gap: .3rem;

        p {
            min-width: 35px;
        }
    }

    .drop {
        display: flex;
        flex-direction: column;

        .trade {
            width: 100px;

            background-color: #000;
            color: #FFF;

            border: none;
            box-shadow: 3px 3px 5px #0003;
            padding: 4px 8px;
            margin: 10px 0 25px 0;
            
            cursor: pointer;

            &:hover {
                scale: 1.02;
            }
        }

        .render {
            display: flex;
            flex-direction: column;
            gap: .3rem;

        }

    }

}