.container {
    height: 100%;
    max-width: 350px;
    width: 100%;

    border: 2px solid #000;
    padding: 1rem;

    .title {
        display: flex;
        align-items: center;

        font-size: 1rem;
        font-weight: bold;

        gap: .3rem;
    }
}