.container {
    text-align: center;

    margin-top: 3rem;

    .select {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        
        margin-top: 2rem;
        gap: 2rem;
    }
}