.container {
    min-height: 100vh;
    height: 100%;
    width: 100%;

    text-align: center;

    .cartas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin: 1rem 0 2rem 0;
        gap: 2rem;
    }

    .title {
        display: inline-block;
        border-bottom: 1px solid #000;
        
        margin: 1rem 0;
    }

}