@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
.main {
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.title {
    font-size: 3rem;
    margin-bottom: .5rem;
}