.main {
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: .5rem;
}