@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
.main {
    min-height: 100vh;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3rem;
}