.back {
    position: fixed;
    right: 2%;

    height: 50px;
    width: 50px;

    background-color: #FFF;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 5px #0003;

    .invisible {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border: none;
        color: #FFF;

        font-size: 2rem;

        cursor: pointer;

    }
}