.back {
    position: fixed;
    bottom: 5%;
    right: 5%;

    height: 60px;
    width: 60px;

    background-color: transparent;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 5px #0003;

    .invisible {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border: none;
        color: #FFF;

        font-size: 2rem;

        cursor: pointer;

    }
}