.container {
    min-height: 440px;
    width: 270px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #000;
    padding: 1rem;

    .img {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        padding: 1rem 0;
    }

    .information {
        display: flex;
        align-items: center;

        font-size: 2rem;
        font-weight: bold;
    }

    .btn {
        background-color: #000;
        color: #FFF;

        padding: .5rem 2rem;
        border: none;
        box-shadow: 5px 5px 5px #0003;

        cursor: pointer;
        
    }

}